<div class="sangria">
    <h3>Formulario Component</h3>
    <form [formGroup]="form" >
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Text</mat-label>
            <input matInput formControlName="text">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <input matInput formControlName="category">
        </mat-form-field>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button formControlName="gener" value="male">male 1</mat-radio-button>
            <mat-radio-button formControlName="gener" value="female">female 2</mat-radio-button>
            <mat-radio-button formControlName="gener" value="other">other 3</mat-radio-button>

          </mat-radio-group>
    </form>
    <div>
        <button mat-raised-button color="secundary">Guardar</button>
    </div>
</div>
